<!--ごう作-->

<%= form_with model: @delivery_address do |f| %>
  <div>郵便番号(ハイフンなし)</div>
  <%= f.text_field :delivery_address_zip_code, placeholder: "000000" %>
  <div>住所</div>
  <%= f.text_field :delivery_address_other, placeholder: "TOKYO" %>
  <div>宛名</div>
  <%= f.text_field :delivery_address_name, placeholder: "DJ KOO" %>
  <%= f.submit "新規登録", class: "btn btn-success" %>
<% end %>