<!--ごう作-->

<div class"container">
  <div class="row">
  <%= form_with model: @delivery_address do |f| %>
    <div class="form-group row">
      <div class="col-md-5">郵便番号(ハイフンなし)</div>
      <div class="col-md-3">
      <%= f.text_field :delivery_address_zip_code, autofocus: true, placeholder: "0000000" %>
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5">住所</div>
      <div class="col-md-3">
      <%= f.text_field :delivery_address_other, :size=>"60", placeholder: "" %>
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5">宛名</div>
      <div class="col-md-3">
      <%= f.text_field :delivery_address_name, placeholder: "DJ KOO" %>
      </div>
    </div>
    <div class="row">
      <div class="ml-auto">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  </div>
</div>