<!--ごう作-->

<h3>配送先編集</h3>

<%= form_with model: @delivery_address do |f| %>
  <div>郵便番号(ハイフンなし)</div>
  <%= f.text_field :delivery_address_zip_code, placeholder: "000000", autocomplete: "zip_code" %>
  <div>住所</div>
  <%= f.text_field :delivery_address_other, placeholder: "TOKYO", autocomplete: "address" %>
  <div>宛名</div>
  <%= f.text_field :delivery_address_name, placeholder: "DJ KOO", autocomplete: "name" %>
  <%= f.submit "変更内容を保存", class: "btn btn-success" %>
<% end %>