<!--kuma-->
<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-md-9">
      <h3>会員情報編集</h3>
      <%= form_with model: @customer, url: customers_information_path(current_customer), method: :patch do |f| %>
      
      <table>
        <tr>
          <td>名前</td>
          <td><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana %></td>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          
        <!--修正しました-->
          <td>郵便番号</td>
          <td><%= f.text_field :zip_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, :size=>"30"%></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td><%= f.submit "編集内容を保存", class: 'btn btn-success' %></td>
          <td><div></div></td>
          <td><%= link_to "退会する", customers_quit_path, class: 'btn btn-danger' %></td>
        </tr>
      </table>
      <% end %>
      </div>
  </div>
</div>