<!--ごう作-->
<!--ブレークポイントは中（画面幅768px以上、992px未満）……md-->
<div>
  <% if flash[:notice].present? && !devise_controller? %>
    <p class="mt-3 ml-3"><%= flash[:notice] %></p>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="mt-3 mb-2">
      <h2>新規会員登録</h2>
    </div>
  </div>

  <%= form_with model: @customer, url:customer_registration_path do |f| %>
    <%= render "customer/shared/error_messages", resource: resource %>
    <div class="form-group row">
      <div class="col-md-3">名前</div>
      <div class="col-md-3">
        <%= f.text_field :last_name, placeholder: "姓", autofocus: true, autocomplete: "last_name" %>
      </div>
      <div class="col-md-5">
        <%= f.text_field :first_name, placeholder: "名", autocomplete: "first_name" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">フリガナ</div>
      <div class="col-md-3">
        <%= f.text_field :last_name_kana, placeholder: "セイ", autocomplete: "last_name_kana" %>
      </div>
      <div class="col-md-5">
        <%= f.text_field :first_name_kana, placeholder: "メイ", autocomplete: "first_name_kana" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">メールアドレス</div>
      <div class="col-md-3">
        <%= f.email_field :email, placeholder: "dj@koo.com", autocomplete: "email" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">郵便番号(ハイフンなし)</div>
      <div class="col-md-3">
        <%= f.text_field :zip_code, placeholder: "0000000", autocomplete: "zip_code" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 col-form-label">住所</div>
      <div class="col-md-9">
        <%= f.text_field :address, :size=>"60", placeholder: "東京都千代田区日比谷公園0-0", autocomplete: "address" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">電話番号(ハイフンなし)</div>
      <div class="col-md-3">
        <%= f.text_field :phone_number, placeholder: "00000000000", autocomplete: "phone_number" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">パスワード
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">パスワード(確認用)</div>
      <div class="col-md-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 offset-md-3">
        <%= f.submit "新規登録", class: "btn btn-success d-grid gap-2 col-2 mx-auto" %>
      </div>
    </div>
  <% end %>
  <div class="mt-3 mb-5">
    <h3>既に登録済みの方</h3>
    <div class="ml-4">
      <strong><%= link_to "☞こちら", new_customer_session_path %> <strong>からログインしてください。
    </div>

  </div>
</div>