<!--ごう作-->

<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customer/shared/error_messages", resource: resource %>


  <div class="field">名前
    <%= f.label :last_name, "(姓)" %>
    <%= f.text_field :last_name, placeholder: "DJ", autofocus: true, autocomplete: "last_name" %>
    <%= f.label :first_name, "(名)" %>
    <%= f.text_field :first_name, placeholder: "KOO", autocomplete: "first_name" %>
  </div>

  <div class="field">フリガナ
    <%= f.label :last_name_kana, "(セイ)" %>
    <%= f.text_field :last_name, placeholder: "ディージェー", autofocus: true, autocomplete: "last_name" %>
    <%= f.label :first_name, "(メイ)" %>
    <%= f.text_field :first_name, placeholder: "コー", autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, placeholder: "dj@koo", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :zip_code, "郵便番号(ハイフンなし)" %>
    <%= f.email_field :zip_code, placeholder: "000000", autocomplete: "zip_code" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "TOKYO", autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号(ハイフンなし)" %>
    <%= f.text_field :phone_number, placeholder: "00000000000", autocomplete: "phone_number" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<%= link_to "こちら", new_customer_session_path %>　からログインしてください。
