<!--ごう作-->
<!--ラジオボタン使用-->

<h3>注文情報入力</h3>

<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
  <div>
    <h6>支払い方法</h6>
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method_credit_card, "クレジットカード" %><br>

    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method_transfer, "銀行振込" %><br>
  </div>

  <div>
    <h6>お届け先</h6>
  <!--顧客の住所-->
    <%= f.radio_button :address_select, "customer_address" %>
    <%= f.label :address_select, "ご自身の住所" %><br>
    〒<%= current_customer.zip_code %>
    <%= current_customer.address %><br>
    <%= current_customer.last_name %>
    <%= current_customer.first_name %><br>
　<!--登録済みの配送先住所-->
    <%= f.radio_button :address_select, "delivery_address_other" %>
    <%= f.label :address_select, "登録済住所から選択" %><br>
  <!--セレクトボックスですべての住所表示-->
    <%= f.select :address_id, options_from_collection_for_select(@delivery_addresses.all, :id, :address_display) %><br>
  <!--新規配送先-->
    <%= f.radio_button :address_select, "new_delivery_address" %>
    <%= f.label :address_select, "新しいお届け先" %><br>
　<!--新規配送先入力フォーム-->
    <div>郵便番号(ハイフンなし)</div>
    <%= f.text_field :postal_code, placeholder: "000000" %>
    <div>住所</div>
    <%= f.text_field :address, placeholder: "TOKYO" %>
    <div>宛名</div>
    <%= f.text_field :name, placeholder: "DJ KOO" %>
  </div>
<!--注文情報確認画面へ-->
<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
<% end %>
