<!--batako作成-->
<div class="container mt-5 mb-5">
  <div class="row">
    <h3 class="mb-4"><strong>会員一覧</strong></h3>
      <table class="table w-100 table-hover text-center">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <td><%= customer.id %></td>
             <td>
              <div class="link-secondary">
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
              </div>
             </td><td><%= customer.email %></td>
              <% if customer.is_deleted == false %>
              <td><p class="text-success">有効</p></td>
              <% elsif %>
              <td><p class="text-secondary">退会</p></td>
            <% end %>
          </tbody>
        <% end %>
      </table>
  </div>
</div>
