<!--batako-->
<div class="container my-4">
  <h2 class="pb-3"><strong>注文履歴詳細</strong></h2>
  <table class="table table-hover table-borderless">
    <tr class="row">
      <th class="h5 font-weight-bold">購入者</th>
      <td>
        <%= @order.customer.last_name %><%= @order.customer.first_name %>
      </td>
    </tr>

    <tr class="row">
      <th class="h5 font-weight-bold">注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>

    <tr class="row">
      <th class="h5 font-weight-bold">配送先</th>
      <td>
        〒<%= @order.postal_code %>
        　<%= @order.address %></br>
        <%= @order.name %>
      </td>
    </tr>

      <tr class="row">
      <th class="h5 font-weight-bold">支払い方法</th>
      <td><%= @order.payment_method_i18n %></td>
      </tr>


    <tr class="row">
      <th class="h5 font-weight-bold">注文ステータス</th>
      <td class="pb-4">
        <%= form_with model: @order, url: admin_order_path, method: :patch, local:true do |f| %>
          <%= f.select :status, Order.statuses.keys.map { |k| [I18n.t("enums.order.status.#{k}"), k] } %>
          <%= f.submit "更新", class: "btn btn-success ml-3" %>
        <% end %>
    </tr>
  </table>
  <div class="row">
    <table class="table table-hover col-8 pl-1">
      <thead></thead>
        <tr>
          <th class="bg-light">商品名</th>
          <th class="bg-light">単価（税込）</th>
          <th class="bg-light">数量</th>
          <th class="bg-light">小計</th>
          <th class="bg-light">製作ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @order_products.each do |order_product| %>
        <tr>
          <td width="35%"><%= order_product.product.name %></td>
          <td width="20%"><%= order_product.price.to_s(:delimited) %></td>
          <td width="10%"><%= order_product.amount %></td>
          <td width="10%"><%= (order_product.price * order_product.amount).to_s(:delimited) %></td>
          <td width="25%">
            <%= form_with model: order_product, url: admin_order_product_path(order_product), method: :patch do |f| %>
              <%= f.select :making_status, OrderProduct.making_statuses.keys.map {|k| [I18n.t("enums.order_product.making_status.#{k}"), k]} %>
              <%= f.submit "更新", class: "btn btn-success ml-3" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="col-1"></div>

    <table class="table table-hover table-borderless col-3 h-25 align-self-end justify-content-end">
      <tr>
        <th class="h5 font-weight-bold">商品合計</th>
        <td class="text-right"><%= (@order.total_payment - @order.shopping_cost).to_s(:delimited) %>円</td>
      </tr>

      <tr>
        <th class="h5 font-weight-bold">送料</th>
        <td class="text-right"><%= @order.shopping_cost %>円</td>
      </tr>

      <tr>
        <th class="h5 font-weight-bold">請求金額合計</th>
        <td class="text-right font-weight-bold"><%= @order.total_payment.to_s(:delimited) %>円</td>
      </tr>
    </table>
  </div>
</div>