<!--kuma-->
<div class='container px-5 px-sm-0'>
  <div class='row my-5'>
    <div class='col-md-2'>
      <table class="table table-bordered">
        <thead>
          <th class="table-dark">ジャンル検索</th>
        </thead>
        <tbody>
          <tr>
            <td>ケーキ</td>
            </tr>
          <tr>
            <td class="table-danger">焼き菓子</td>
          </tr>
          <tr>
            <td>プリン</td>
          </tr>
          <tr>
            <td class="table-danger">キャンディ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>商品一覧</h3>
      <!--<p>（全<%= @products.count %>件）</p>-->
      <div class="row">
          <% @products.each do |product| %>
          <div class="col-md-3">
         <%= link_to product_path(product.id) do %>

              <p><%= image_tag product.get_image(200,200) %></p>

            <% end %>
           <p><%= product.name %></p>
          <p>¥<%= product.price %></p>
          </div>
              <% end %>
        </div>

        <%= paginate @products %>
      </div>
    </div>
<<<<<<< HEAD
  </div>
</div>
=======
  </div>
>>>>>>> origin/develop
