<!--しんちゃん作成-->
<div class="container my-5">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h4>商品詳細</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-5">
      <div class="mx-5">
        <%= image_tag @product.image,size: "310x250" %>
      </div>
    </div>
    <div class="col-md-7" style="text-left">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 30%">商品名</th>
            <td style="width: 70%"><%= @product.name %></td>
          </tr>
          <tr>
            <th style="width: 30%">商品説明 </th>
            <td style="width: 70%"><%= @product.description %></td>
          </tr>
          <tr>
            <th style="width: 30%">ジャンル</th>
            <td style="width: 70%"><%= @product.type.name %></td>
          </tr>
           <tr>
            <th style="width: 30%"> 税込価格<br>(税抜価格)</th>
             <td style="width: 60%"><%= @product.with_tax_price.to_s(:delimited) %>(<%= @product.price.to_s(:delimited) %>)円
          </tr>
          <tr>
            <th style="width: 30%">販売ステータス</th>
            <td style="width: 70%">
              <% if @product.is_active == false %>
                <strong class="text-secondary">販売停止中</strong>
               <% else %>
                <strong class="text-success">販売中</strong>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="my-3 ml-5">
        <%= link_to "編集する", edit_admin_product_path(@product.id),class: "btn btn-lg btn-success" %>
      </div>
    </div>
  </div>
</div>