<!--ごう作-->

<h3>ショッピングカート</h3>

  <% if @cart_items.present? %>

    <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, data: { confirm: "本当に空にしますか？" }, class: "btn btn-danger" %>

    <table>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    <!--計算メゾットをモデルに記載-->
      <% @cart_items.each do |cart_item| %>
        <tr>
          <!--商品の画像、名前-->
          <td>
            <%= image_tag cart_item.product.get_image(30,30) %>
            <%= cart_item.product.name %>
          </td>
          <!--商品の単価→with_tax_price-->
          <td><%= cart_item.product.with_tax_price %></td>
          <!--商品の数量、セレクトボックス使用-->
              <%= form_with model: cart_item do |f| %>
          <td><%= f.select :product_amount, (1..3).to_a %>
              <%= f.submit "変更", class: "btn btn-success" %>
          </td>
              <% end %>
          <!--商品の小計→subtotal-->
          <td><%= cart_item.subtotal %></td>
              <% @total += cart_item.subtotal %>
          <td><%= link_to "削除する", cart_item_path(cart_item), class:"btn-sm btn-danger", method: :delete, data: {confirm: "本当に削除しますか?"} %></td>
        </tr>
      <% end %>
      <!--合計金額-->
        <%= @total.to_s(:delimited) %>
  <% else %>
      <p>カートに追加された商品はありません</p>
    </table>
  <% end %>
<!--トップページへ-->
<%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
<!--注文情報入力画面へ-->
<% if @cart_items.present? %>
<%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
<% end %>