<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#a9a9a9;">
    <div class="container">
      <div>
        <!--しんちゃん修正-->
        <!--image_tagで画像を表示、root_pathで管理者ログインページで遷移-->
        <%= link_to image_tag('logo.jpg', width: '40%', height: '40%'), new_admin_session_path, class:"ml-5" %></br>
        <span class="text-center ml-5">Nagano_cake</span>
      </div>
     <!--customerがサイン済みかどうか判定する-->
     <% if customer_signed_in? %>
        ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>様</p>
      <!--条件式1が偽で条件式2が真の時に実行する-->
      <% elsif admin_signed_in? %>
        管理者ログイン中
      <!--全ての条件式が偽の時に実行する処理-->
      <% else %>
        ようこそ、ゲスト様
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <li class="mr-3">
            <%= link_to "マイページ", customers_my_page_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "商品一覧", products_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "カート", cart_items_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>

        <% elsif admin_signed_in? %>
          <li class="mr-3">
            <%= link_to "商品一覧", admin_products_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "会員一覧", admin_customers_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "注文履歴一覧", admin_root_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "ジャンル一覧", admin_types_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
        <% else %>
          <li class="mr-3">
            <%= link_to "About", about_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "商品一覧", products_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "新規登録", new_customer_registration_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
          <li class="mr-3">
            <%= link_to "ログイン", new_customer_session_path,class: 'nav-link text-body mx-1 nav-link btn btn-light btn-sm mr-2' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>