<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    /*しんちゃん作成*/
    /*CSS rules to specify familiesの箇所をコピペして<style>タグで囲む。{}で囲み*/
    /*ヘッダーに反映させたいので<head>タグ内にheader{コピペ内容}でOK*/
    header{font-family: 'Noto Serif JP', serif;}
  </style>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

   <main>
    <%= yield %>
   </main>
  </body>
</html>
